<div class="container">
    <div class="login-form">
        <p *ngIf="isLoading">Logging you in...</p>
        <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
            <input matInput name="username" ngModel type="text" placeholder="Username" #usernameInput="ngModel"
                required>
            <p *ngIf="usernameInput.invalid">Please enter a valid username</p>
            <button type="submit" *ngIf="!isLoading">Login</button>
        </form>
    </div>
</div>
