<agm-map
    [latitude]="mapCenterLat"
    [longitude]="mapCenterLong"
    [ngStyle]="{'height.px': screenHeight}"
>
    <agm-marker
        *ngFor="let bike of bikes"
        [latitude]="bike.latitude"
        [longitude]="bike.longitude"
        [iconUrl]="bike.rented ? 'http://localhost:3000/marker-disabled.png' : ''"
    >
        <agm-snazzy-info-window
            [closeWhenOthersOpen]="true"
            [borderRadius]="10"
            [closeOnMapClick]="true"
            [maxWidth]="400"
            [maxHeight]="400"
            [padding]="5"
        >
            <ng-template>
                <h3>Bike {{ bike.name }}</h3>
                <small>
                    This bike is {{ bike.rented ? 'NOT' : '' }} for rent.
                </small>
                <ol *ngIf="!bike.rented">
                    <li>Click on "Rent Bicycle"</li>
                    <li>Bicycle lock will unlock automatically</li>
                    <li>Adjust saddle height</li>
                </ol>

                <div>
                    <button
                        *ngIf="!bike.rented"
                        class="rent-button"
                        (click)="rentBike(bike)"
                    >
                        Rent Bicycle
                    </button>
                    <button
                        *ngIf="bike.rented && bike.rentedBy === userId"
                        class="rent-button"
                        (click)="returnBike(bike, bike.latitude, bike.longitude)"
                    >
                        Return Bicycle
                    </button>
                </div>
            </ng-template>
        </agm-snazzy-info-window>
    </agm-marker>
</agm-map>

<div class="overlay-nav">
    <button (click)="logout()">Logout</button>
</div>
